html {
    background-color: black;

}

div {

    width: 50%;
    margin-left: 25%;
}

#img {
    border: 5px solid white;
    height: 300px;
    width: 300px;
    margin-left: 60px;
}

#header1 {
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville",serif;
    text-transform: uppercase;
}

#p1 {
    font-size: 30px;
    color: white;
    text-align: center;
}
